[data-bs-theme=dark] {
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-secondary-color: rgba(33,37,41,0.75);
  --bs-secondary-color-rgb: 33,37,41,0.75;
  --bs-tertiary-color: rgba(33,37,41,0.5);
  --bs-tertiary-color-rgb: 33,37,41,0.5;
  --bs-body-bg: #dee2e6;
  --bs-body-bg-rgb: 222,226,230;
}

